<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Jordan Grilly</title>
        <meta name="description" content="Concepteur de jeux avec expertise en programmation et design. Créateur de 'Project Echo: Neon Wave', un jeu rythmique innovant sur borne d'arcade. Expert Unity et Unreal Engine. Passion, écoute et ouverture d'esprit au service de chaque projet.">
        <meta name="author" content="Jordan Grilly">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/dist/output.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/cards.css">
        <!-- <link rel="stylesheet" href="src/css/styles.css"> -->
    </head>
    <body class="flex flex-col m-0 overflow-x-hidden">
        <div class="Home bg-[#F15BB5] flex flex-col min-h-screen">
            <nav>
                <div class="px-14 mx-auto text-white font-GalanoGrotesqueAlt-Bold">
                    <div class="flex justify-between py-10">
                        <div class="flex space-x-4">
                            <div class="hidden md:flex items-center space-x-10 tracking-widest2  px-3">
                                <a href="#Home">Home</a>
                                <a href="#Experience">Experience</a>
                                <a href="#Projets">Projets</a>
                                <a href="#Contact">Contact</a>
                            </div>
                        </div>
                         <!--Mobile button-->
                        <div class="md:hidden flex items-center">
                            <button class="mobile-menu-button">
                                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                                </svg>            
                            </button>      
                        </div>
                    </div>
                        <!--Mobile menu-->
                        <div class="mobile-menu justify-items-center hidden md:hidden">
                            <a href="#" class="block py-2 text-sm text-center">Home</a>
                            <a href="#" class="block py-2 text-sm text-center">Experience</a>
                            <a href="#" class="block py-2 text-sm text-center">Projets</a>
                            <a href="#" class="block py-2 text-sm text-center">Contact</a>
                        </div>
                </div>
            </nav>
            
            
            <div class="authors flex flex-1 bg-[#F15BB5] w-full h-full">
                <div class="content bg-[#F15BB5] flex justify-center items-center w-full">
                    
                    <div class="title flex flex-col top-0 left-0 w-fit h-auto py-32 px-72 font-GalanoGrotesqueAlt-Bold z-10">
                        <h1 class=" text-white md:text-9xl text-6xl">Jordan<br>Grilly</h1>
                        <h2 class=" text-[#FEE440] tracking-widest2 py-10 md:text-lg text-sm">Game developer</h2>
                        <div class="social md:py-5 py-0">
                            <a href="https://www.linkedin.com/in/jordan-grilly/" id="fa" class="fa fa-linkedin" target="_blank"></a>
                            <a href="https://www.instagram.com/jordangrilly/" id="fa" class="fa fa-instagram" target="_blank"></a>
                            <a href="https://github.com/LeaderGRL" id="fa" class="fa fa-github" target="_blank"></a>
                        </div>
                    </div>
                    <div class="home-image hidden md:flex bg-[#F15BB5] w-full h-full">
                        <!-- <img class="absolute z-0 pl-80 top-40 right-0 w-fit h-auto" src="../src/images/Portfolio.png" alt="bg"> -->

                    </div>
                </div>  
            </div>
            <div class="home-image hidden md:flex bg-[#F15BB5] w-full h-full">
              <img class="absolute z-0 pl-80 -top-10 -right-52 w-full h-auto" src="/images/Portfolio.png" alt="bg">
            </div>
        </div>
        <div class="Experience flex bg-[#9B5DE5] min-h-screen">
            <div class="content flex flex-1 flex-col justify-center py-24">
                <% experiences.forEach(element => { %>
                    <div class="container flex flex-1 justify-center">
                        <div class="experienceLines w-1/3 h-full flex flex-col items-end">
                            <div class="line bg-white w-1 h-full relative">
                                <div class="flex items-center justify-center circle bg-[#9B5DE5] w-11 h-11 rounded-full absolute top-20 right-0 -mr-5 border-solid border-white border-4">
                                    <div class="circle bg-[#00F5D4] w-4 h-4 rounded-full"></div>
                                </div>       
                            </div>
                        </div>
                        <div class="experiences flex flex-col space-y-14 px-32 w-2/3 py-12">
                            <div class="experience max-w-lg 2xl:max-w-4xl">
                                <h1 class="title font-GalanoGrotesqueAlt-Bold text-white text-2xl 2xl:text-4xl py-4"><%= element.name %></h1>
                                <h2 class="subtitle font-GalanoGrotesqueAlt-Bold text-[#FEE440] text-base 2xl:text-2xl"><%= element.date %></h2>
                                <ul class="text font-GalanoGrotesqueAlt-Medium text-white text-xs 2xl:text-base"><% element.description.forEach(el => { %>
                                    <li><%= el %></li>%>    
                            <%}); %></ul> 
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        
        
        <div class="Project flex flex-col bg-[#F15BB5] min-h-screen">
            <div class="gallery flex flex-1 justify-center items-center">
                <% projects.forEach(function(element, index){ %>
                    <div class="cards card-<%= index+1 %> 3xl:w-64 2xl:w-52 w-44 h-3/5 bg-white flex flex-col">
                        <div class="image-container h-full w-full bg-green-600">
                            <img src="<%= element.imageUrl %>" alt="placeholder" class="h-full w-full object-cover">
                        </div>
                        <div class="info flex justify-center h-full w-full flex-col px-10">
                            <div class="date h-1/3 w-full bg-white flex flex-col-reverse">
                                <p class="text-[#9B5DE5] font-GalanoGrotesqueAlt-Medium text-[8px] 2xl:text-xs"><%= element.date %></p>
                            </div>
                            <div class="title bg-white h-full font-GalanoGrotesqueAlt-Bold flex items-center">
                                <h1 class="text-[#9B5DE5] text-[10px] 2xl:text-sm 3xl:text-lg"><%= element.name %></h1>
                            </div>
                            <div class="button-container h-1/2 w-full bg-white">
                              <a href="<%= element.link %>" class="button flex items-center 2xl:h-12" target=”_blank”>
                                  <p class="text font-GalanoGrotesqueAlt-Medium text-[#9B5DE5] 3xl:text-base text-sm">Read More</p>
                                  <div class="circle bg-[#9B5DE5] w-8 h-8 rounded-full items-center justify-center ml-auto mr-2 hidden"></div>
                              </a>
                            </div>
                        </div>
                    </div> 
                <% }); %>
            </div>
            <div class="controller flex flex-col justify-center items-center self-center w-5/6 space-y-10">
                <div class="bar w-full h-1 bg-[#9B5DE5]">
                    <div class="progress w-1/5 h-full bg-[#ffffff]"></div>
                </div>
                <div class="content h-1/2 w-full flex justify-between items-center">
                    <div class="project-number font-GalanoGrotesqueAlt-Bold flex items-center text-3xl">
                        <p class="card-number text-white">01/<%= projects.length %></p>
                    </div>
                    <div class="arrow-container flex space-x-10">
                        <div class="left-arrow controller-previous flex items-center justify-center w-12 h-12 rounded-full bg-[#F15BB5] border-solid border-2 border-white">
                            <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                            </svg>
                        </div>
                        <div class="right-arrow controller-next flex items-center justify-center w-12 h-12 rounded-full bg-[#F15BB5] border-solid border-2 border-white">
                            <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                        
        <div class="Contact flex flex-col bg-[#9B5DE5]">
          <div class="title flex justify-center items-center mt-10">
            <h1 class="text-white text-6xl font-GalanoGrotesqueAlt-Bold">Got A Project ?</h1>
          </div>
          <div class="content flex justify-center items-center py-10 space-x-8">
              <div>
                <p class="font-GalanoGrotesqueAlt-Medium text-white">Open for any offers and<br> collaborations</p>
              </div>
              <div class="button">
                <div class="button-container h-1/2 w-full">
                  <div class="button rounded-full border-solid border-[#00F5D4] border-2 flex items-center h-12">
                      <p class="font-GalanoGrotesqueAlt-Medium text-[#ffffff] pl-5 mx-4">Send me email</p>
                      <div class="circle bg-[#00F5D4] w-6 h-6 rounded-full flex items-center justify-center ml-auto mx-4"></div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        
        <script src="js/NavBar.js"></script>
        <script src="js/Carousel.js"></script>
    </body>
</html>
